<div th:fragment="footer">
	<div id="footer-container"></div>
		<hr class="hr">
		<div id="footer" class="d-flex flex-row justify-content-between align-items-center">
			<div class="logo-footer">
				<img class="logo" th:src="@{/images/logoi.png}" alt="Logo">
			</div>
			<div class="text-footer d-flex flex-column align-items-center">
				<p><span>© 2025 Todos os direitos reservados.</span> Musa Pilates.</p>
				<p>musapilates@gmail.com</p>
			</div>
			<div class="icons-footer d-flex flex-row gap-3">
				<img class="icon icon-email" th:src="@{/images/icon-email.png}" alt="Logo">
				<img class="icon icon-instagram" th:src="@{/images/icon-instagram.png}" alt="Logo">
			</div>
			
	</div>
</div>
