<div id="widget-plano" class="widget" th:fragment="widgetPlano">
	<img th:src="@{/images/coroa.png}">
	<p>Seu plano</p>
	<h1 th:if="${tipo == 'Aluno'}" th:text="${perfil.plano != null} ? ${perfil.plano.nome} : 'Sem plano'">{Assinatura}</h1>
	<h1 th:if="${tipo == 'Instrutor'}">Instrutor</h1>
	<h2 th:if="${tipo == 'Aluno'}" th:text="${perfil.plano != null} ? ${perfil.plano.duracao + ' Mês'} : 'Sem plano'">{Duração}</h2>
	<h2 th:if="${tipo == 'Instrutor'}">Boas Aulas!</h2>
	<div class="botoes-planos d-flex flex-column justify-content-end align-items-center">
		<a th:href="@{/assinaturas}" th:if="${tipo == 'Aluno'}">Alterar</a>
		<a href="#banner-usuario">Visualizar</a>
	</div>
</div>
