@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&display=swap');

:root {
  /* Cores */
  --color-primary: #2C2D2F;
  --color-secondary: #F6F6F6;
  --color-accent: #303030;
  --purple-100: #7883B4;
  --purple-200: #93A1E5;
  --light-200: #F2F2F2;
  --light-50: #FFF;

  /* Fontes */
  --font-main: 'Inter', sans-serif;
  --font-alt: 'Golos Text', sans-serif;
  --font-decorative: 'Kaushan Script', cursive;
  
  /* Transitions */
  --transition-principal: all .3s cubic-bezier(0.25, 0.1, 0.25, 1);
  
  --slide-up: translateY(-3px);
  --slide-right: translate(3px);
  --expand: scale(1.05);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;                
  padding: 0;               
}

body{
	background-color: #F6F6F6;
	font-family: var(--font-main);
	font-weight: 400;
	font-size: 1rem;
}

button, input, textarea{
	border: none;
	outline: none;
}

a{
	text-decoration: none!important;
}

p{
	margin: 0rem!important;
	font-family: var(--font-main);
}

.botao{
	border-radius: 2rem;
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	font-weight: 400;
	transition: var(--transition-principal);
}

/*Cabeçalho*/
.header{
	padding: 1rem 4rem;
}

.logo{
	width: 4.5rem;
	height: 3.5rem;
}

.icon{
	width: 1rem;
	height: 1rem;
}

.icons-footer > .icon {
	transition: var(--transition-principal);
	cursor: pointer;
}

.icons-footer > .icon:hover {
	transform: var(--slide-up);
}

nav > ul > li{
	font-weight: 500;
	list-style-type: none;
	cursor: pointer;
	transition: var(--transition-principal);
}

nav > ul > li:hover {
	transform: var(--slide-up);
}

nav > ul > li > a {
	color: var(--color-primary);
}

.link-assinaturas{
	background: linear-gradient(to right, #303030, #3F3E40);
	padding: 0.3rem 1rem 0.3rem 1.4rem;
	border-radius: 2rem;
}

.link-assinaturas > a {
	color: var(--color-secondary);
}


/*Rodapé*/
#footer{
	height: 10rem;
	padding: 1rem 4rem;
	width: 100%;
}

.hr{
	margin: 1rem 4rem 1rem 4rem;
}

.text-footer > p{
	font-weight: 600;
	color: var(--purple-100);
}

.text-footer > p > span{
	color: var(--color-accent);
}

.icon-email, .icon-instagram{
	width: 1.8rem;
	height: 1.8rem;
}


/*Home: página inicial*/
.banner{
	margin: 0rem 4rem 0rem 4rem;	
	background: linear-gradient(to top, #93A1E5, #CFD7FF);
	color: var(--color-accent);
	padding: 4rem;
	border-radius: 0.5rem;
	font-family: var(--font-main);
}

.banner > h1{
	font-family: var(--font-alt);
	font-weight: 600;
	transition: var(--transition-principal);
}

.banner > h1:hover{
	transform: var(--slide-right);
}

.banner > p{
	font-size: 1.3rem;
}

.botao-branco{
	background-color: var(--color-secondary);
	font-size: 1.2rem;
}

.botao-branco:hover {
	transform: var(--slide-right);
}

.botao-preto{
	background-color: var(--color-primary);
	color: var(--color-secondary);
	border-radius: 0.7rem;
}

.container-home > div > h2{
	font-family: var(--font-alt);
	font-weight: 600;
	font-size: 2.1rem;
}

.container-home > div > p{
	font-size: 1.3rem;
	font-weight: 500;
	font-family: var(--font-main);
}

.container-home{
	padding: 2.5rem 8rem 2.5rem 8rem;
}

.off-white{
	margin-top: 2rem;
	background-color: var(--light-200);
}

.off-white > div > p > a{
	color: var(--color-primary);
	font-size: 1rem;
	font-style: italic;
	font-family: var(--font-main);
	font-weight: 400;
}

.off-white > div > p:last-of-type{
	transition: var(--transition-principal);	
}

.off-white > div > p:last-of-type:hover{
	transform: var(--slide-right);	
}

.categorias > .categoria > .icon{
	width: 2.1rem;
	height: 2.1rem;
}

.categorias > .categoria > p{
	font-weight: 500;
	font-family: var(--font-main);
}

.categorias > .categoria {
	width: 5rem;
	transition: var(--transition-principal);
}

.categorias > .categoria:hover {
	transform: var(--expand);
}

.categoriasContainer {
	gap: 1.5rem;
}

.pilates-banner{
	width: 40rem;
	height: 40rem;
}

.destaque > p{
	font-family: var(--font-main);
	font-size: 1.2rem;
	font-weight: 500;
	padding: 0rem 0rem 0rem 0rem;
	color: var(--color-primary);
	font-size: 1rem;
	font-style: italic;
	font-family: var(--font-main);
}

.destaque {
	margin: 1rem 1rem 3rem 0;
	transition: var(--transition-principal);
}

.destaque:hover {
	transform: var(--slide-up);
}

.destaques ~ .botao:hover {
	transform: var(--slide-up);
}


/*Cadastrar instrutor*/
.box-linear{
	padding: 1rem 0rem 1rem 0rem;
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom, #F6F6F6 50%, #93A1E5 50%);
}

#cadastrarInstrutor {
  position: relative;
  height: 100vh; 
}

.form-cadastro {
  width: 40rem;
  background-color: var(--light-50);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.form-cadastro > h4{
	font-family: var(--font-main);
	font-size: 1.2rem;
	font-weight: 600;
}


.container-roxo{
	background: linear-gradient(to right, #93A1E5, #A2B0F0);
}

.box-input > input, .box-input > select{
	font-family: var(--font-alt);
	border: 0.1rem solid #93A1E5;
	border-radius: 0.5rem;
	min-width: 17rem;
	padding: 0.2rem 0.8rem 0.2rem 0.8rem;
	background-color: var(--color-secondary);
	transition: var(--transition-principal);	
}

.box-input > input:focus, .box-input > select:focus{
	background-color: #fff;
}

.box-input > label{
	font-family: var(--font-main);
	font-size: 0.9rem;
	font-weight: 400;
}


.link-info > a, .link-pagamento > a{
	font-family: var(--font-main);
	font-style: italic;
	color: var(--purple-100)!important; 
	font-size: 0.9rem;
	text-decoration: none;
}

.link-info ~ .botao:hover, .link-pagamento ~ .botao:hover {
	transform: var(--slide-up);	
}

p.link-info, p.link-pagamento{
	margin-bottom: 0rem;
	transition: var(--transition-principal);
}

p.link-info:hover, p.link-pagamento:hover{
	transform: var(--slide-up);	
}

/*Cadastrar Aluno: assinaturas*/

.form-cadastro > div > h3{
	color: #8A97D5;
	font-weight: 700;
	font-family: var(--font-alt);
}

.form-descricao{
	font-weight: 500;
	font-size: 0.9rem;
	padding-bottom: 0.5rem;
}

.secao{
	cursor: pointer;
}

.metodo-pagamento{
	background-color: rgb(240, 240, 240);
	padding: 0.5rem 0.9rem 0.5rem 0.9rem;
	border-radius: 0.4rem;
	min-width: 17rem;
	max-width: 100%;
	cursor: pointer;
	transition: var(--transition-principal);
}

.metodo-pagamento:hover{
	transform: var(--slide-right);
}

.link-pagamento > a{
	font-family: var(--font-main);
	font-style: italic;
	color: var(--color-primary)!important; 
	font-size: 0.9rem;
	text-decoration: none;
	cursor: pointer;
}

/*Login*/
#box-login{
	background-color: #fff;
	padding: 1rem 3rem 3rem 3rem;
	border-radius: 0.4rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#box-footer-login{
	padding-top: 1rem;
}

#box-footer-login > p > a{
	color: var(--purple-100);
	font-style: italic;
	font-size: 0.9rem;
	font-weight: 500;
	cursor: pointer;
}

#box-footer-login > p{
	transition: var(--transition-principal);		
}

#box-footer-login > p:hover{
	transform: var(--slide-up);	
}

#box-footer-login > .botao-preto{
	padding: 0.5rem 2.8rem 0.5rem 2.8rem;
	font-family: var(--font-main);
	font-size: 0.9rem;
	font-weight: 500;
	transition: var(--transition-principal);
}

#box-footer-login > .botao-preto:hover{
	transform: var(--slide-up);	
}

#box-login > .box-direita > .box-input > label{
	padding-top: 0.6rem;
	font-weight: 500;
	color: rgb(118, 116, 120);
}

#box-login > .box-direita > .box-input > input{
	background-color: var(--color-secondary);
	transition: var(--transition-principal);
}

#box-login > .box-direita > .box-input > input:focus{
	background-color: #fff;
}

.box-descricao h1{
	font-family: var(--font-alt);
	font-weight: 600;
}

.box-descricao > p{
	padding-bottom: 1rem;
}

.mensagem-erro{
	font-family: var(--font-main);
	color: rgb(239, 52, 52);
	font-size: 0.7rem;
	padding: 0.1rem;
}


/*Dashboard*/
#box-dashboard{
	width: 100%;
	padding: 2rem 8rem 2rem 8rem;
}

#box-dashboard > h1{
	font-family: var(--font-alt);
	font-weight: 600;
}


.secoes > .secao{
	background-color: #fff;
	padding: 1.5rem;
	border-radius: 0.4rem;
	width: 25%;
	transition: var(--transition-principal);
}

.secoes > .secao:hover{
	transform: var(--expand);	
}

.secao > .secao-imagem{
	width: 180px;
	height: 180px;
}

.secoes{
	padding: 2rem;
}

.secao > h5{
	font-family: var(--font-alt);
	font-weight: 600;
}

.secao > p{
	font-family: var(--font-main);
	font-size: 0.9rem;
}

.secao-botoes {
	margin: 1.5rem 0 2rem 0;	
}
	
.secao-botoes > .botao:hover {
	transform: var(--slide-up);
}


/* Tela de perfil */

#banner-usuario {
	margin: 2rem 4rem 6rem 4rem;
	height: 20rem;
	position: relative;
}

#banner-usuario > h1 {
	color: var(--color-secondary);
	margin-bottom: 2rem;
	font-size: 4rem;
	font-family: kaushan-scrypt;
}

#banner-usuario > .icon-usuario {
	border-radius: 100%;
	background-color: var(--color-accent);
	border: 1rem solid var(--light-50);
	width: 20%;
	max-width: 18rem;
	min-width: 14rem;
	aspect-ratio: 1 / 1;
	margin: 0 4rem;
	transform: translateY(4rem);
}

#banner-usuario > .banner-usuario-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	background: linear-gradient(to bottom, #CFD7FF, #93A1E5 50%);
	border-radius: 0.4rem;
	z-index: -1;
}

#banner-usuario > .banner-usuario-container > img {
  width: 50%;
  min-width: 50rem;
  aspect-ratio: 2 / 2;
  padding: 0 4rem;
  filter: brightness(0) invert(1);
  opacity: 0.5;
}

.container-perfil-info {
	background: var(--light-50);
	margin: 0rem 2rem 4rem 2rem;
	padding: 0 2rem;
	border-radius: .4rem;
	color: var(--purple-200);
	font-weight: bolder;	
}

.perfil-info {
	margin-left: 4rem;
	margin-right: auto;
}

.perfil-info > h1 {
	font-size: 3rem;
	color: var(--color-primary);
}

.perfil-info > a {
	font-size: 1.5rem;
	color: #FFB743;
	font-weight: bolder;
	transition: var(--transition-principal);
}

.perfil-info > a:hover {
	transform: var(--slide-right);
}

.perfil-info > a > img {
	width: 1.5rem;
	aspect-ratio: 1 / 1;
}

#sequenciaDiaria {
	width: 35%;
	padding: 1rem;
	overflow: hidden;
	background: linear-gradient(to bottom, #CFD7FF, #93A1E5 50%);
	border-radius: 0.8rem;
	position: relative;
	align-self: stretch;
}

#sequenciaDiaria > h2{
	color: var(--light-50);
	font-size: 1.6rem;
}

#sequenciaDiaria > h1{
	position: absolute;
	color: var(--light-50);
	font-size: 10rem;
	font-weight: bolder;
	opacity: .6;
	top: 60%;
	right: 3rem;
	transform: translateY(-50%);
}

.container-agenda {
	background: var(--light-50);
	margin: 0rem 4rem 4rem 4rem;
	padding: 1rem 2rem;
	border-radius: .4rem;
	color: var(--purple-200);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	font-weight: bolder;
}

.container-agenda > p > a {
	color: var(--purple-200);
}

.container-agenda > p:last-of-type {
	text-decoration: underline;	
	transition: var(--transition-principal);
	cursor: pointer;
}

.container-agenda > p:last-of-type:hover {
	transform: var(--slide-up);
}

.retangulo {
	flex: 0 0 auto;
	width: 11rem;
	height: 20rem;
	border: 2px solid var(--purple-200);
	color: var(--purple-200);
	background-color: transparent;
	border-radius: 0.4rem;
	overflow: hidden;
	margin-right: 1rem;
	transition: var(--transition-principal);
}

.retangulo:hover {
	transform: var(--slide-right);
}

.retangulo.active {
	border: none;
	background: linear-gradient(to bottom, #CFD7FF, #93A1E5 50%);
	color: #ffffffCC;
}

.retangulo.active > h1 {
	font-size: 10rem;
	line-height: 10rem;
}

.retangulo.active > h2 {
	line-height: 0;
}

.retangulo > h1 {
	font-size: 8rem;
	font-weight: 750;
	margin-left: auto;
	line-height: 7rem;
}


.retangulo > h2 {
	font-weight: 750;
	margin: 0 auto 0 .5rem;
}

.container-agenda-dias {
	margin: .5rem;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto; 
	overflow-y: hidden;
}

.container-widgets {
  background: var(--light-50);
  margin: 0rem 4rem 4rem 4rem;
  border-radius: .4rem;
  align-items: stretch;
  gap: 4rem;
}

.widget {
  flex: 1;
  height: 25rem;
  border-radius: .4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


#widget-plano {
	overflow: hidden;
	position: relative;
}

#widget-plano > img {
	position: absolute;
	left: 0;
	top: 55%;
	transform: translate(-20%, -50%);
	width: 25rem;
	aspect-ratio: 1 / 1;
	opacity: .6;
}

#widget-plano > p {
	position: absolute;
	font-size: 1.2rem;
	left: 1rem;
	top: 1rem;
	color: var(--purple-200);
	font-weight: bolder;
}

#widget-plano > h1 {
	position: absolute;
	right: 1rem;
	top: 1rem;
	font-size: 3rem;
	color: #FFDBA1;
	font-weight: bolder;
}

#widget-plano > h2 {
	position: absolute;
	right: 1rem;
	top: 5rem;
	font-size: 2.5rem;
	color: #FFDBA1;
	font-weight: bolder;
}

#widget-plano > .botoes-planos {
	position: absolute;
	width: 50%;
	right: 1rem;
	bottom: 2.5rem;
	gap: 1rem;
}

#widget-plano > .botoes-planos > a {
	text-align: center;
	color: var(--light-50);
	font-weight: 600;
	padding: .8rem 0;
	width: 80%;
	background-color: var(--purple-200);
	border-radius: 100rem;
	transition: var(--transition-principal);
}

#widget-plano > .botoes-planos > a:hover {
	transform: var(--slide-up);
}

#widget-aulas {
	padding: 1rem;
}

#widget-aulas > p {
	font-size: 1.2rem;
	color: var(--purple-200);
	font-weight: bolder;
}

#widget-aulas > .container-ultimas-aulas {
	gap: 1rem;
	padding: .5rem 0rem;
	overflow-y: scroll;
	height: 100%;
}

#widget-aulas > .container-ultimas-aulas > .bloco-ultimas-aulas {
	width: 100%;
	background-color: var(--purple-200);
	border-radius: .4rem;
	padding: .5rem;
	color: var(--light-200);
	transition: var(--transition-principal);
}

#widget-aulas > .container-ultimas-aulas > .bloco-ultimas-aulas:hover {
	transform: var(--slide-up);
}

#widget-aulas > .container-ultimas-aulas > .bloco-ultimas-aulas > h1 {
	font-size: 1.2rem;
}

#widget-aulas > .container-ultimas-aulas > .bloco-ultimas-aulas > h2 {
	font-size: 1.2rem;
}

