<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar professor</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">
</head>
<body>
	<th:block th:replace="fragments/header :: header"></th:block>
	
	<div id="cadastrarInstrutor">
		<div class="d-flex flex-column align-items-center">
			<div class="box container-branco"></div>
			<div class="box container-roxo"></div>
		</div>
		<div id="form-cadastrar-instrutor" class="d-flex flex-column gap-2">
			<h4>Informações pessoais</h4>
			<div class="d-flex flex-row justify-content-between align-items-center">
				<div class="box-input d-flex flex-column align-items-start gap-2">
					<label>Nome:</label>
					<input type="text" name="nome">
				</div>
				<div class="box-input d-flex flex-column align-items-start gap-2">
					<label>Sobrenome:</label>
					<input type="text" name="sobrenome">
				</div>
			</div>
			<div class="d-flex flex-row justify-content-between align-items-center">
				<div class="box-input d-flex flex-column align-items-start gap-2">
					<label>E-mail:</label>
					<input type="text" name="email">
				</div>
				<div class="box-input d-flex flex-column align-items-start gap-2">
					<label>CPF:</label>
					<input type="text" name="cpf">
				</div>
			</div>
			<div class="d-flex flex-row justify-content-between align-items-center">
				<div class="box-input d-flex flex-column align-items-start gap-2">
					<label>Telefone:</label>
					<input type="text" name="telefone">
				</div>
				<div class="box-input d-flex flex-column align-items-start gap-2">
					<label>Data de nascimento:</label>
					<input type="date" name="data-nascimento">
				</div>
			</div>
			
			<div class="cadastrar-instrutor d-flex flex-column gap-2">
				<h4>Endereço</h4>
				<div class="d-flex flex-row justify-content-between align-items-center">
					<div class="box-input d-flex flex-column align-items-start gap-2">
						<label>Endereço:</label>
						<input type="text" name="endereco">
					</div>
					<div class="box-input d-flex flex-column align-items-start gap-2">
						<label>CEP:</label>
						<input type="text" name="cep">
					</div>
				</div>
					<div class="d-flex flex-row justify-content-between align-items-center">
						<div class="box-input d-flex flex-column align-items-start gap-2">
							<label>Número:</label>
							<input type="text" name="numero">
						</div>
						<div class="box-input d-flex flex-column align-items-start gap-2">
							<label>Bairro:</label>
							<input type="text" name="bairro">
						</div>
					</div>
					<div class="d-flex flex-row justify-content-between align-items-center">
						<div class="box-input d-flex flex-column align-items-start gap-2">
							<label>Cidade:</label>
							<input type="text" name="cidade">
						</div>
						<div class="box-input d-flex flex-column align-items-start gap-2">
							<label>Estado:</label>
							<input type="text" name="estado">
						</div>
					</div>
					<div class="d-flex flex-row justify-content-between align-items-center">
						<div class="box-input d-flex flex-column align-items-start gap-2">
							<label>Complemento: (opcional)</label>
							<input style="min-width: 36rem;" type="text" name="complemento">
						</div>
					</div>
					<div class="d-flex flex-row justify-content-between align-items-center">
						<p class="link-info"><a>Para mais informações, clique aqui</a></p>
						<button class="botao botao-preto" type="submit">Cadastrar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
	<script>
	  AOS.init();
	</script>
	<th:block th:replace="fragments/footer :: footer"></th:block>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>
