<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="icon" type="image/x-icon" th:href="@{/images/logoi.png}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">
</head>
<body>
	<th:block th:replace="fragments/header :: header"></th:block>
	
	<div class="box-linear d-flex flex-column align-items-center">
		<div id="box-dashboard">
			<h1>Dashboard</h1>
			<hr>
			<div class="secao-botoes">
				<a th:href="@{/logout}" class="botao botao-preto">Deslogar</a>
				<button class="botao botao-preto">Agendar uma aula</button>
				<button class="botao botao-preto">Fazer uma publicação</button>
				<button class="botao botao-preto">Editar minhas informações</button>
			</div>
			
			<div id="secoes-dashboard d-flex flex-column align-items-center">
				<div th:if="${isAdmin}" class="secoes administrador d-flex flex-row justify-content-center align-items-center gap-5">
					<div class="secao d-flex flex-column align-items-center gap-2">
						<h5>Alunos</h5>
						<img class="secao-imagem" th:src="@{/images/alunos.svg}" alt="Seção">
						<p>Gerencie os alunos</p>
					</div>
					<div class="secao d-flex flex-column align-items-center gap-2">
						<h5>Agenda</h5>
						<img class="secao-imagem" th:src="@{/images/image-login.svg}" alt="Seção">
						<p>Gerencie e planeje a agenda</p>				
					</div>
					<div class="secao d-flex flex-column align-items-center gap-2">
						<h5>Instrutores</h5>
						<img class="secao-imagem" th:src="@{/images/instrutores.svg}" alt="Seção">
						<p>Gerencie os instrutores</p>				
					</div>
				</div>
				
				
				<div th:if="${isInstrutor}" class="secoes instrutor d-flex flex-row justify-content-center align-items-center gap-5">
					<div class="secao d-flex flex-column align-items-center gap-2">
						<h5>Turmas</h5>
						<img class="secao-imagem" th:src="@{/images/turmas.svg}" alt="Seção">
						<p>Acompanhe as turmas abertas</p>
					
					</div>
					<div class="secao d-flex flex-column align-items-center gap-2">
						<h5>Assinaturas</h5>
						<img class="secao-imagem" th:src="@{/images/image-login.svg}" alt="Seção">
						<p>Confira as assinaturas disponíveis</p>				
					</div>
					<div class="secao d-flex flex-column align-items-center gap-2">
						<h5>Unidades</h5>
						<img class="secao-imagem" th:src="@{/images/unidades.svg}" alt="Seção">
						<p>Conheça as unidades disponíveis</p>				
					</div>
				</div>
				
				<div th:if="${isAluno}" class="secoes aluno  d-flex flex-row justify-content-center align-items-center gap-5">
					<div class="secao d-flex flex-column align-items-center gap-2">
						<h5>Agendamento</h5>
						<img class="secao-imagem" th:src="@{/images/agendamento.svg}" alt="Seção">
						<p>Participe das aulas</p>
					
					</div>
					<div class="secao d-flex flex-column align-items-center gap-2">
						<h5>Histograma de horário</h5>
						<img class="secao-imagem" th:src="@{/images/image-login.svg}" alt="Seção">
						<p>Confira os horários de maior ocupação</p>				
					</div>
					<div class="secao d-flex flex-column align-items-center gap-2">
						<h5>Evolução</h5>
						<img class="secao-imagem" th:src="@{/images/evolucao.svg}" alt="Seção">
						<p>Acompanhe a sua evolução</p>				
					</div>
				</div>			
			</div>
		</div>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
	<script>
	  AOS.init();
	</script>
	<th:block th:replace="fragments/footer :: footer"></th:block>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>
