<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Instrutor</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">
</head>
<body>
    <th:block th:replace="fragments/header :: header"></th:block>
    
    <div class="box-linear d-flex flex-column align-items-center">
        <form id="box-cadastrar-instrutor"  method="post">
            <input type="hidden" name="id" th:value="${instrutor.id}"/> <!-- Importante se tiver ID -->
            
            <div class="form-cadastro d-flex flex-column gap-2" data-aos="fade-up" data-aos-duration="1000">
                <h4>Informações pessoais</h4>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Nome</label>
                        <input type="text" name="nome" th:value="${instrutor.nome}">
                    </div>
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Sobrenome</label>
                        <input type="text" name="sobrenome" th:value="${instrutor.sobrenome}">
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>E-mail</label>
                        <input type="text" name="email" th:value="${instrutor.email}">
                    </div>
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>CPF</label>
                        <input type="text" name="cpf" th:value="${instrutor.cpf}">
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Telefone</label>
                        <input type="text" name="telefone" th:value="${instrutor.telefone}">
                    </div>
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Data de nascimento</label>
                        <input type="date" name="data-nascimento" th:value="${#dates.format(instrutor.dataNascimento, 'yyyy-MM-dd')}">
                    </div>
                </div>
            </div>
            <br>
            <div class="form-cadastro d-flex flex-column gap-2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                <h4>Endereço</h4>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Endereço</label>
                        <input type="text" name="endereco" th:value="${instrutor.endereco}">
                    </div>
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>CEP</label>
                        <input type="text" name="cep" th:value="${instrutor.cep}">
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Número</label>
                        <input type="text" name="numero" th:value="${instrutor.numero}">
                    </div>
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Bairro</label>
                        <input type="text" name="bairro" th:value="${instrutor.bairro}">
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Cidade</label>
                        <input type="text" name="cidade" th:value="${instrutor.cidade}">
                    </div>
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Estado</label>
                        <input type="text" name="estado" th:value="${instrutor.estado}">
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Complemento (opcional)</label>
                        <input style="min-width: 36rem;" type="text" name="complemento" th:value="${instrutor.complemento}">
                    </div>
                </div>
                <div class="d-flex flex-col justify-content-between align-items-center mt-4">
                    <p class="link-info"><a>Para mais informações, clique aqui</a></p>
                    <button class="botao botao-preto" type="submit">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <th:block th:replace="fragments/footer :: footer"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>
