<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Instrutor</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/logoi.png}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">
</head>
<body>
    <th:block th:replace="fragments/header :: header"></th:block>
    
    <div class="box-linear d-flex flex-column align-items-center">
        <form id="box-cadastrar-instrutor"  method="post" th:object="${instrutor}" th:action="@{/update/instrutor}">
            <input type="hidden" name="id" th:field="*{id}" th:value="${instrutor.id}" />
			<input type="hidden" name="senha" th:field="*{senha}" th:value="${instrutor.senha}" />
            
            <div class="form-cadastro d-flex flex-column gap-2" data-aos="fade-up" data-aos-duration="1000">
                <div>
                    <h3>Editar Informações de Instrutor</h3>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Nome</label>
                        <input type="text" th:field="*{nome}" name="nome" th:value="${instrutor.nome}">
                    </div>
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Sobrenome</label>
                        <input type="text" th:field="*{sobrenome}" name="sobrenome" th:value="${instrutor.sobrenome}">
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>E-mail</label>
                        <input type="text" name="email" th:field="*{email}" th:value="${instrutor.email}">
                    </div>
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>CPF</label>
                        <input type="text" name="cpf" th:field="*{cpf}" th:value="${instrutor.cpf}" oninput="mascaraCPF(this)">
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Telefone</label>
                        <input type="text" name="telefone" th:field="*{telefone}" th:value="${instrutor.telefone}" oninput="mascaraCelular(this)">
                    </div>
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Data de nascimento</label>
                        <input type="date" name="data-nascimento" th:field="*{dataNascimento}" th:value="${#dates.format(instrutor.dataNascimento, 'yyyy-MM-dd')}">
                    </div>
                </div>
            </div>
            <br>
            <div class="form-cadastro d-flex flex-column gap-2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                <h4>Endereço</h4>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Endereço</label>
                        <input id="endereco-logradouro" th:field="*{endereco.logradouro}" type="text" name="endereco" th:value="${instrutor.endereco.logradouro}">
                    </div>
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>CEP</label>
                        <input id="endereco-cep" type="text" th:field="*{endereco.cep}" name="cep" th:value="${instrutor.endereco.cep}" oninput="mascaraCEP(this)">
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Número</label>
                        <input id="endereco-numero" type="text" th:field="*{endereco.numero}" name="numero" th:value="${instrutor.endereco.numero}">
                    </div>
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Bairro</label>
                        <input id="endereco-bairro" type="text" name="bairro" th:field="*{endereco.bairro}" th:value="${instrutor.endereco.bairro}">
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Cidade</label>
                        <input id="endereco-cidade" type="text" name="cidade" th:field="*{endereco.cidade}" th:value="${instrutor.endereco.cidade}">
                    </div>
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Estado</label>
                        <input id="endereco-estado" type="text" name="estado" th:field="*{endereco.estado}" th:value="${instrutor.endereco.estado}">
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <div class="box-input d-flex flex-column align-items-start gap-2">
                        <label>Complemento (opcional)</label>
                        <input style="min-width: 36rem;" type="text" th:field="*{endereco.complemento}" name="complemento" th:value="${instrutor.endereco.complemento}">
                    </div>
                </div>
                <div class="d-flex flex-col justify-content-between align-items-center mt-4">
                    <p class="link-info"><a>Cancelar</a></p>
                    <button class="botao botao-preto" type="submit">Salvar Informações</button>
                </div>
            </div>
        </form>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script th:src="@{/js/formHandler.js}"></script>
    <th:block th:replace="fragments/footer :: footer"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>
